<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta name=og:title content={{title}}>
	<meta name=og:url content=ancientstraits.github.io>

    <title>AncientStraits</title>
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/codehilite.css">
    <script>hljs.highlightAll()</script>
</head>
<body>
    <header><a href=index.html>
        AncientStraits
    </a></header>
    <div class="post">
        <h1 class="title">{{title}}</h1>
        <h2 class="date">{{date}}</h2>
        <hr>
        <div class="content">
            {{& content}}
        </div>
    </div>
</body>
</html>
