@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}

header {
    font-size: 60px;
    text-align: center;
    background-color: #aaa;
    margin-bottom: 10px;
}

header a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover {
    color: #00f;
}

.entry {
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
}

.entry:hover {
    color: #00f;
}

.entry div {
    padding: 2% 0;
    /* border-style: solid; */
    overflow: hidden;
	text-align: center;
}

.entry div h1 {
    margin: 0;
    padding: 0;
    font-size: 40px;
}

.entry div h2 {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: normal;
}

.post, .posts {
    margin: 0 20%;
}

.title {
    font-size: 50px;
    margin-bottom: 0;
}

.title, .date {
    text-align: center;
}

p {
    font-size: 20px;
    margin: 10px 0;
    padding: 0;
    line-height: 30px;
}

li {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

pre {
    background-color: #282828;
    padding: 10px;
}

pre > code {
    font-size: 17px;
    color: #ebdbb2;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 900px) {
    .post, .posts {
        margin: 0 5%;
    }
}
